nav {
    background-image: linear-gradient(90deg, #5775ff 0%, #7c23c0 100%);
    font-size: xx-large;
    color: white;
    font-weight: bold;

}

.card-body {
    background-color: cornflowerblue;
}